@import url("https://fonts.googleapis.com/css?family=montserrat:400,500,600,700,700|Source+Sans+Pro:400,600");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body {
  line-height: 1.4;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-image: url("../images/bg.jpeg");
  background-color: #8E1326;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.welcome-content {
  color: #C0C0C0;
  font-size: 40px;
  font-family: 'Caveat', cursive;
}

.portfolio-content {
  position: relative;
  top: 350px;
  text-align : right;
  color: #C0C0C0;
  /*color: #8E1326;
  /*color: #063169;
  font-family: 'Caveat', cursive;*/
  font-size: 40px;
  font-family: 'Shadows Into Light', cursive;
}

.details {
 font-size: 25px;
 font-family: 'Shadows Into Light', cursive;
 }

.logo {
 max-width: 100%;
 max-height: 100%;
 height: 600px;
 width: 1000px;
}

img {
 height: 100%;
 width: 100%;
 object-fit: contain;
}